<div class="row">
    <div class="col-11">
        <div class="d-flex justify-content-start mt-4">
            <div class="m-2 form-group  d-flex flex-wrap align-content-end">
                <app-text 
                [icon]="'fas fa-user-lock'" 
                [label]="'seguridad.usuarios.identificacionUsuario' | translate"
                (textOut)="setUsuario($event)"
                ></app-text>     
            </div>
            <div class="m-2 form-group  d-flex flex-wrap align-content-end">
                <app-select
                [icon]="'fa fa-language'" 
                [label]="'seguridad.usuarios.estado' | translate"
                [data]="dataEstado"
                (id)="setEstado($event)"
                [selected]="estado"
                [incluirSelect]="false"
                [id]="'estado'"
                ></app-select>   
            </div>
            <div class="m-2 form-group d-flex flex-wrap align-content-end">
                <a (click)="listarUsuario()"matTooltip="Buscar"><img width="40" height="40" src="../../../../assets/img/magnifying-glass.png"></a>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-start mt-4">
            <div *ngIf="data==null; then  skeleton else table"></div>
            <ng-template #skeleton>
                <div class="item">
                  <!-- Disables the animation -->
                  <ngx-skeleton-loader animation="false"></ngx-skeleton-loader>
                  <!-- Uses `progress` as animation -->
                  <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>
                   <!-- Disables the animation -->
                   <ngx-skeleton-loader animation="false"></ngx-skeleton-loader>
                   <!-- Uses `progress` as animation -->
                  <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>
                    <!-- Disables the animation -->
                  <ngx-skeleton-loader animation="false"></ngx-skeleton-loader>
                  <!-- Uses `progress` as animation -->
                  <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>
                  <ngx-skeleton-loader></ngx-skeleton-loader>
                  <!-- Uses `pulse` as animation -->
                  <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
                </div>
              </ng-template>
            <ng-template #table>
            
                    <table class="table text-center">
                        <thead>
                          <tr>
                            <th>{{'seguridad.usuarios.identificacion' | translate}}</th>
                            <th>{{'seguridad.usuarios.nombresCompletos' | translate}}</th>
                            <th>{{'seguridad.usuarios.usuario' | translate}}</th>
                            <th>{{'seguridad.usuarios.estado' | translate}}</th>
                            <th>{{'seguridad.usuarios.accion' | translate}}</th>
                          </tr>
                        </thead>
                       
                        <tbody>
                          <div *ngIf="data.length>0; then result else noResult"></div>
                          <ng-template #result> 
                              <tr *ngFor="let d of data; index as i">
                                <td >{{d.numeroIdentificacion}}</td>
                                <td >{{d.nombresCompletos | titlecase}}</td>
                                <td >{{d.usuario}}</td>
                                <td >
                                    <div *ngIf="d.estado; else elseEstado">Activo</div>
                                    <ng-template #elseEstado>Inactivo</ng-template>
                                </td>
                                <td >
                                    <img matTooltip="Actualizar usuario" (click)="getUsuarioXId(d.secuenciaUsuario)" src="../../../../../../assets/img/update-profile-user.svg" width="25" height="25"
                                    data-toggle="modal" data-target="#actualizarUsuario">
                                    <img matTooltip="Eliminar usuario" src="../../../../../../assets/img/eliminar.svg" width="25" height="25"
                                     data-toggle="modal" (click)="deleteEliminarUsuario(d.secuenciaUsuario,d.usuario)">
                                </td>
                              </tr>
                          </ng-template>
                          <ng-template #noResult> 
                            <tr><td COLSPAN="8"><p>No existe resultados</p></td></tr>
                          </ng-template>
                          </tbody>
                      </table>
                <app-paginador *ngIf="mostrarPag" [totalDatos]="totalRows" [datosPorpagina]="perPage" (paginaSeleccionada)="getpaginacion($event)"></app-paginador>
              </ng-template>
          
        </div>
    </div>
</div>

<!-- Modal Actualizar usuario-->
<div class="modal actualizar-usu" id="actualizarUsuario" tabindex="-1" role="dialog" aria-labelledby="actualizarUsuario" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Actualizar Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <app-usuarios-ca (valueResponse)="actualizarUsuario($event)" [data]="dataUsuarioId"></app-usuarios-ca>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>