<div class="row">
    <div class="col-11">
        <div class="d-flex justify-content-start mt-4">
            <div class="m-2 form-group  d-flex flex-wrap align-content-end">
                <app-text 
                [icon]="'fas fa-user-lock'" 
                [label]="'seguridad.usuarios.identificacionUsuario' | translate"
                (textOut)="setUsuario($event)"
                ></app-text>     
            </div>
            <div class="m-2 form-group d-flex flex-wrap align-content-end">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-start mt-4">
            <div *ngIf="data==null; then  skeleton else table"></div>
            <ng-template #skeleton>
                <div class="item">
                  <!-- Disables the animation -->
                  <ngx-skeleton-loader animation="false"></ngx-skeleton-loader>
                  <!-- Uses `progress` as animation -->
                  <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>
                   <!-- Disables the animation -->
                   <ngx-skeleton-loader animation="false"></ngx-skeleton-loader>
                   <!-- Uses `progress` as animation -->
                  <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>
                    <!-- Disables the animation -->
                  <ngx-skeleton-loader animation="false"></ngx-skeleton-loader>
                  <!-- Uses `progress` as animation -->
                  <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>
                  <ngx-skeleton-loader></ngx-skeleton-loader>
                  <!-- Uses `pulse` as animation -->
                  <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
                </div>
              </ng-template>
            <ng-template #table>
            
                    <table class="table text-center">
                        <thead>
                          <tr>
                            <th>{{'seguridad.usuarios.identificacion' | translate}}</th>
                            <th>{{'seguridad.usuarios.nombresCompletos' | translate}}</th>
                            <th>{{'seguridad.usuarios.usuario' | translate}}</th>
                            <th>{{'seguridad.usuarios.accion' | translate}}</th>
                          </tr>
                        </thead>
                       
                        <tbody>
                          <div *ngIf="data.length>0; then result else noResult"></div>
                          <ng-template #result> 
                              <tr *ngFor="let d of data; index as i">
                                <td >{{d.numeroIdentificacion}}</td>
                                <td >{{d.nombresCompletos | titlecase}}</td>
                                <td >{{d.usuario}}</td>
                                <td >img</td>
                              </tr>
                          </ng-template>
                          <ng-template #noResult> 
                            <tr><td COLSPAN="8"><p>No existe resultados</p></td></tr>
                          </ng-template>
                          </tbody>
                      </table>
                <app-paginador *ngIf="mostrarPag" [totalDatos]="totalRows" [datosPorpagina]="perPage" (paginaSeleccionada)="getpaginacion($event)"></app-paginador>
              </ng-template>
          
        </div>
    </div>
</div>