.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: none;
    border-bottom: 1px solid red;
}

input[readonly]{
    background-color:transparent;
    border: 0;
    font-size: 1em;
  }

