.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #43C6AC;
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);
    background: linear-gradient(to right, #191654, #43C6AC);
}

.form-group>label{
    position: absolute;
    color: black !important;
    margin-top: 0;
    font-size: 13px;
}

.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: none;
    border-bottom: 1px solid blue;
}

.fai{
    position: absolute;
    margin-left: 270px;
    margin-top: -30px;
    border: none;
    background-color: transparent;
}


.custom-select{
    background-color: none !important;
    border: none !important;
    outline: none !important;
} 

.custom-select{

    outline:none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

}

